
# Google OAuth 2.0 Settings

GOOGLE_OAUTH_SCOPES=openid,profile,email,https://www.googleapis.com/auth/calendar
GOOGLE_OAUTH_REDIRECT_URI={baseUrl}/login/oauth2/code/{registrationId}
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here


# Docker Settings
DB_USERNAME=your_database_user
DB_PASSWORD=your_database_password
